name: commit-ci

permissions:
  contents: write

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
    tags:
      - '*'
  workflow_dispatch:

jobs:

  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install librime and set env
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            sudo apt-get update
            sudo apt-get install -y librime-dev
          elif [[ "$RUNNER_OS" == "macOS" ]]; then
            curl -L https://github.com/rime/librime/releases/download/1.15.0/rime-75bc43a-macOS-universal.tar.bz2 -o rime.tar.bz2
            mkdir -p librime
            tar xf rime.tar.bz2 -C librime
            echo "LIBRIME_INCLUDE_DIR=$GITHUB_WORKSPACE/librime/dist/include" >> $GITHUB_ENV
            echo "LIBRIME_LIB_DIR=$GITHUB_WORKSPACE/librime/dist/lib"         >> $GITHUB_ENV
            ls -l librime/dist/include
            ls -l librime/dist/lib
            # set RUSTFLAGS="-C link-arg=-Wl,-rpath,@executable_path"
            echo "RUSTFLAGS=-C link-arg=-Wl,-rpath,@executable_path" >> $GITHUB_ENV
          elif [[ "$RUNNER_OS" == "Windows" ]]; then
            curl -L https://github.com/rime/librime/releases/download/1.15.0/rime-75bc43a-Windows-msvc-x64.7z -o librime.7z
            7z x librime.7z -olibrime
            # 变量写法注意：Windows 环境变量分隔要用 \\ 或 /
            echo "LIBRIME_INCLUDE_DIR=$GITHUB_WORKSPACE\\librime\\dist\\include" >> $GITHUB_ENV
            echo "LIBRIME_LIB_DIR=$GITHUB_WORKSPACE\\librime\\dist\\lib"         >> $GITHUB_ENV
            ls -l librime/dist/include
            ls -l librime/dist/lib
          fi

      - name: Build
        run: |
          cargo build --release --features=tui

      - name: Test
        run: cargo test --release

      - name: Prepare package
        if: runner.os == 'Windows' || runner.os == 'macOS'
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            cp target/release/rime.exe ./
            cp librime/dist/lib/rime.dll ./
            # 7z add rime.exe and rime.dll to 7z archive
            7z a rime-cli-Windows.7z rime.exe rime.dll
          else
            cp target/release/rime ./
            cp librime/dist/lib/librime.1.15.0.dylib ./
            cp -r librime/dist/lib/rime-plugins ./
            ln -s librime.1.15.0.dylib librime.1.dylib
            ln -s librime.1.dylib librime.dylib
            # tar rime librime*.dylib rime-plugins to tar.gz archive
            tar -czf rime-cli-macOS.tar.gz rime librime.1.15.0.dylib librime.1.dylib librime.dylib rime-plugins
          fi

      - name: Archive production artifacts
        if: runner.os == 'Windows' || runner.os == 'macOS'
        uses: actions/upload-artifact@v4
        with:
          name: rime-cli-${{ runner.os }}
          path: rime-cli-${{ runner.os }}${{ runner.os == 'Windows' && '.7z' || '.tar.gz' }}

  nightly-release:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:

      - name: Download macOS artifact
        uses: actions/download-artifact@v4
        with:
          name: rime-cli-macOS.tar.gz
          path: ./artifacts/

      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: rime-cli-Windows.7z
          path: ./artifacts/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: Nightly Release ${{ github.sha }}
          files: |
            ./artifacts/rime-cli-macOS.tar.gz
            ./artifacts/rime-cli-Windows.7z

